body {
    background-color: #f5f9f9;
    font-family: 'Arial', sans-serif;
}




.login-page {
    background: url('minang.png') no-repeat center center/cover;
    text-align: center;
    color: white;
}

.login-page .card {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
}
.card-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
}
.form-group {
    font-size: 1rem;
    text-align: left;
    color: black;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: rgb(10, 10, 10);
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}
.text-decoration-none {
    text-align: right;
}