body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.welcome-page {
    background: url("minang.png") no-repeat center center/cover;
    text-align: center;
    color: white;
}

.welcome-page .card {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 10px;
}

.login-page {
    background: url('minang.png') no-repeat center center/cover;
    text-align: center;
    
}

.login-page .card {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: white;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}
.text-left{
    text-align: left;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.login-card{
    color: black;
    
}
